@model WebApplication1.Models.WorkOn

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WorkOn</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EssnNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EssnNavigation.Ssn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PnoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PnoNavigation.Pnumber)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
